<!DOCTYPE html>
<html>
<head>
    <title>Danh sách người dùng</title>
</head>
<body>
<h1>Danh sách người dùng</h1>
<ul id="userList">
</ul>
<script>
    const token = localStorage.getItem('authToken');
    if (!token) {
        alert('Bạn cần đăng nhập để xem danh sách người dùng.');
        window.location.href = '/login.html';
    } else {
        fetch('http://localhost:8090/user/all', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + token
            }
        })
            .then(response => {
                if(response.ok){
                    return response.json();
                }
                throw new Error('Không thể lấy danh sách người dùng.');
            })
            .then(data => {
                const userList = document.getElementById('userList');
                data.forEach(user => {
                    const listItem = document.createElement('li');
                    listItem.textContent = `ID: ${user.id}, Tên người dùng: ${user.username}, Họ tên: ${user.hoTen}, Email: ${user.email}, SĐT: ${user.soDienThoai}, Role: ${user.role}`;
                    userList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('Lỗi lấy danh sách người dùng:', error);
                alert('Lỗi lấy danh sách người dùng.');
            });
    }
</script>
</body>
</html>